    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    body{
        font-family: "Roboto";
        background-color: #B7AAA1;

    }
    .wrapper{
        margin: auto;
        max-width: 1440px;
        display: flex;
        justify-content: center;
    }

    .pfp{
        width: 23%;
        height: 250px;
    }
    .header-info{
        height: 250px;
        width: 30%;
        color: #FFF;


        margin-left: 30px;
    }
    .about-me-wrapper{
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 75%;
        text-align: center;
    }
    .education-wrapper{
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 75%;
        text-align: center; 
    }
    .contacts-wrapper{
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 75%;
        text-align: center; 
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #fff;

    }
    .code-wrapper{
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 75%;
        text-align: center; 
    }
    .skills-list{
        color: #fff;
        list-style-type: circle;
    }